@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
  } 
@mixin flex-c($justify,$align) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
  }
@mixin bg($width,$height,$url) {
    width: $width;
    height: $height;
    background: $url no-repeat center;
}
@mixin img($zoom,$margin) {
    margin: $margin;
    zoom: $zoom;
}
@mixin position($position,$side,$sidevalue) {
    position: $position;
    #{$side}: $sidevalue;
  }
@mixin font($fz,$cl,$lh,$fw){
    font-size: $fz;
    color: $cl;
    line-height: $lh;
    font-weight: $fw;
  }
@mixin box($width,$height,$bg,$radius){
    width: $width;
    height: $height;
    background-color: $bg;
    border-radius: $radius; 
  }
@mixin rounded($property,$val){
    #{$property}:$val;
    -moz-#{$property}:$val;
    -webkit-#{$property}:$val;
    -o-#{$property}:$val;
    -ms-#{$property}:$val;
    }
    /*需要另外的样式来引用它*/
    // .A{
    //   @include rounded(border-radius,30px);
    // }
$border: 2px solid;
$box-shadow: #e4e4e4 0px 0px 10px;
    // box-shadow: #999999 0px 0px 10px;
$haeder-height:4.4rem;

html{
    font-size: 62.5%;
    letter-spacing: 1px;
    background: #ffffff;
}
html,header,footer{
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
}
body{
    margin: 0 auto;
    height: calc(100vh - 4.4rem);
    background: #29bde0;
}
*{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
img,span{
    display: inline-block;
}
a{
    text-decoration: none;
}

header{
    @include box(100%,$haeder-height,inherit,0);
    @include position(fixed,top ,0);
    @include flex(space-between,center);
    @include font(1.5rem,#ffffff,4.4rem,600);
    z-index: 2;
    background: #29bde0;
    border-bottom: $border #74d4eb;
    #back{
        @include box(1.2rem,1.2rem,inherit,0);
        border-top: 0.2rem solid #fff;
        border-left: 0.2rem solid #fff;    
        transform: rotate(-45deg);
        margin-left: 1.1rem;
    }
    #close{
        display: inline-block;
        margin-right: 1rem;
        width: 20px;
        height: 2px;
        background: #ffffff;
        line-height: 0;
        font-size: 0;
        vertical-align: middle;
        -webkit-transform: rotate(45deg);
        &::after{
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background: #ffffff;
            -webkit-transform: rotate(-90deg);
        }
    }
}

main{
    min-height: 100%;
    .main-content{
        padding-top: 20vh;
        // padding-bottom: calc( 100% - 4.4rem - 9.8rem - 23.2rem - 4.4rem - 3.7rem);
        .box{
        position: relative;
        padding: 14rem auto;
        margin: 0 auto;
        @include box(23.2rem,32.8rem,#ffedc5,0);
        border: 3px solid #ffffff;
        #check{
            // display: block;
            // display: none;
            margin: auto;
            @include position(absolute,top,0);
            bottom: 0;
            left: 0;
            right: 0;
            zoom: 0.5;
        }
        .view{
            display: none;
            #view{
                @extend #check ;
                display: block;
                // display: none;
                margin-top: 4rem; 
            }
            #identity{
                display: block;
                @include font(2rem,#29bde0,38rem,500);
                text-align: center;
            }
        }
        .number{
            @include position(absolute,top,-1.85rem);
            left: 9.75rem;
            @include box(3.7rem,3.7rem,#ffffff,50%);
            border: 3px solid #ffedc5;
            @include font(2rem,#f56b81,3.7rem,700);
            text-align: center;
        }
    }
  }
  
  .main-content-box{
    background:#29bde0;
    display: none;
    padding-left: 10vw;
    @media screen and (min-width: 768px) {
        padding-left: 96px;
    }
    .content-box{
        max-width: 768px;
        min-width: 320px;
        min-height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(6, 20vw);
        grid-row-gap: 10vw;
        grid-column-gap: 10vw;
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 154px);
            grid-template-rows: repeat(6, 154px);
            grid-row-gap: 48px;
            grid-column-gap: 48px;
        }
    .item{
        display: inline-block;
        position: relative;
        border: 3px solid #ffffff;
        .identity{
            width: 100%;
            @include flex(center,center);
            background: #f5c97b;
            height: 74%;
            font-size: 2vmax;
        }
        .num{
            @extend .identity;
            position: absolute;
            bottom: 0;
            background: #83b09a;
            color: #ffffff;
            height: 26%;
            font-size: 1.3vmax;
            font-weight: 100;
        }
    }
}
}
}  

footer{
    @include position(fixed,bottom,0);
    @include box(100%,6.5rem, #29bde0,0);
    z-index: 2;
    margin-top: 0.5rem;
    text-align: center;
    button{
        margin-top: 1rem;
        @include font(1.7rem,#ffffff,3rem,400);
        @include box(80%,4.4rem,#fab344,0);
    }
}