html{
    font-size: 62.5%;
    background: #f0f0f0;
}
body,header,main,footer{
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
    background: #29bde0;
}
*{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
img{
    display: inline-block;
    height: 70%;
}
span{
    display: inline-block;
}
a{
    text-decoration: none;
}

@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
  } 
@mixin flex-c($justify,$align) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
  }
@mixin bg($width,$height,$url) {
    width: $width;
    height: $height;
    background: $url no-repeat center;
}
@mixin img($zoom,$margin) {
    margin: $margin;
    zoom: $zoom;
}
@mixin position($position,$side,$sidevalue) {
    position: $position;
    #{$side}: $sidevalue;
  }
@mixin font($fz,$cl,$lh,$fw){
    font-size: $fz;
    color: $cl;
    line-height: $lh;
    font-weight: $fw;
  }
@mixin box($width,$height,$bg,$radius){
    width: $width;
    height: $height;
    background-color: $bg;
    border-radius: $radius; 
}
$haeder-height:4.4rem;
$border: 1.1px solid #ffffff;      

header{
    @include box(100%,$haeder-height,inherit,0);
    @include position(fixed,top ,0);
    @include flex(space-between,center);
    @include font(1.5rem,#ffffff,4.4rem,400);
    z-index: 2;
    background: #29bde0;
    border-bottom: $border #74d4eb;
    #back{
        @include box(1.2rem,1.2rem,inherit,0);
        border-top: 0.2rem solid #fff;
        border-left: 0.2rem solid #fff;    
        transform: rotate(-45deg);
        margin-left: 1.1rem;
    }
    p{
        margin-top: 0.5rem;
    }
    #close{
        display: inline-block;
        margin-right: 1rem;
        width: 20px;
        height: 2px;
        background: #ffffff;
        line-height: 0;
        font-size: 0;
        vertical-align: middle;
        -webkit-transform: rotate(45deg);
        &::after{
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background: #ffffff;
            -webkit-transform: rotate(-90deg);
        }
    }
}

main{
    margin-top: $haeder-height;
    padding-bottom: 10rem;
    min-height: 80vh;
    .main-title{
        position: relative;
        height: 4rem;
        padding-left: 2.4rem;
        background: #b9e9f5;
        font-size: 1.4rem;
        line-height: 4.1rem;
        &::after{
            content: "";
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 1.1rem 0.6rem 1.1rem 0.6rem;
            border-color:#b9e9f5 transparent transparent transparent ;
        }
        .audio{
            @include box(2.8rem,2.8rem,#fbb435,50%);
            position: absolute;
            top: 0.5rem;
            right: 1.3rem;
            audio{
                height: 2.6rem;
                width: 26px;
                opacity: 0;
                position: absolute;
                top: 0.1rem;
                right: 0;
                transform: rotate(180deg);
            }
            .play{
                opacity: 0;
                z-index: 2;
                @include flex(space-between,center);
                .vertical{
                    position: absolute;
                    top: 0.4rem;
                    left: 1rem;
                    border-style: solid;
                    border-color: transparent transparent transparent  #fff;
                    border-width: 1rem 1.4rem 1rem 1.4rem;
                }
            }
            .pause{
                // opacity: 0;
                opacity: 1;
                padding: 0 0.6rem;
                z-index: 2;
                @include flex(space-between,center);
                .triangle{
                    margin: 0 0.1rem;
                    @include box(0.4rem,1.5rem,#fff,0);
                }
            }
        }
    }
    .main-tip{
        margin-top: 1.5rem;
        margin-left: 3.2rem;
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 100;
    }
    .main-content-box{
        height: 100%;
        .main-content{
            max-width: 768px;
            min-width: 320px;
            margin-top: 2rem;
            padding-left: 4rem;
            display: grid;
            grid-template-columns: repeat(3, 20vw);
            grid-template-rows: repeat(6, 20vw);
            grid-row-gap: 10vw;
            grid-column-gap: 10vw;
            @media screen and (min-width: 768px) {
                padding-left: 105px;
                display: grid;
                grid-template-columns: repeat(3, 154px);
                grid-template-rows: repeat(6, 154px);
                grid-row-gap: 90px;
                grid-column-gap: 48px;
            }
        .item{
            display: inline-block;
            position: relative;
            border: 3px solid #ffffff;
            .identity{
                width: 100%;
                @include flex(center,center);
                background: #f5c97b;
                height: 74%;
                font-size: 2vmax;
            }
            .number{
                @extend .identity;
                position: absolute;
                bottom: 0;
                background: #83b09a;
                color: #ffffff;
                height: 26%;
                font-size: 1.3vmax;
                font-weight: 100;
            }
            .content-hover{
                width: 100%;
                @include flex(center,center);
                position: absolute;
                bottom: -6vw;
                opacity: 0;
                margin-top: 1rem;
                margin-right: -0.5px;
                @media screen and (min-width: 768px) {
                    bottom: -10vh;
                }
                img{
                    width: 4vw;
                }
            }
            &:hover{
                cursor: pointer;
            }
            &:hover .content-hover{
                opacity: 1; 
            }
        }
    }
}
}

footer{
    position: relative;
    width: 100%;
    height: 9.5rem;
    padding-top: 0.5rem;
    background: #29bde0;
    position: fixed;
    bottom: 0;
    text-align: center;
    span{
        position: absolute;
        top: 0;
        left: calc(calc(40% / 6) - 1.5px);
        right: calc(calc(40% / 6) - 1.5px);
        height: 1px;
        background: #ffffff;
        width: calc(100% - calc(40% / 3 ) + 3px);
    }
    a{
        display: inline-block;
        margin: 0 auto;
        height: 4.4rem;
        width: 24.5rem;
        margin-top: 2rem;
        font-size: 2rem;
        color: #ffffff;
        font-weight: 100;
        line-height: 4.4rem;
        background: #fbb435;
        cursor: pointer;
    }
}