@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
  } 
  @mixin flex-c($justify,$align) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
  }
  @mixin img($width,$height,$url) {
    width: $width;
    height: $height;
    background: $url no-repeat center;
  }
  @mixin position($position,$side,$sidevalue) {
    position: $position;
    #{$side}: $sidevalue;
  }
  @mixin font($fz,$cl,$lh,$fw){
    font-size: $fz;
    color: $cl;
    line-height: $lh;
    font-weight: $fw;
  }
  @mixin box($width,$height,$bg,$radius){
    width: $width;
    height: $height;
    background-color: $bg;
    border-radius: $radius; 
  }
  @mixin rounded($property,$val){
    #{$property}:$val;
    -moz-#{$property}:$val;
    -webkit-#{$property}:$val;
    -o-#{$property}:$val;
    -ms-#{$property}:$val;
    }
  $border: 1px solid;
  $box-shadow: #e4e4e4 0px 0px 10px;
  
html  {
    font-size: 62.5%;
    height: 100%;
}
body{
    background-image: url(../img/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    // transform: scale(0.55);
    background: transparent;
}
input{
    border: none;
    height: 40px;
}

main{
  @include flex(center,center);
  .login-box{
    margin-top: 100px;
    padding: 20px 10px;
    @include box(320px,250px,#dedede,2px);
    @include flex-c(space-around,center);
    p{
      @include font(20px,#29bde0,20px,700);
      text-align: center;
    }
    .name{
      position: relative;
      margin:0.5rem;
      padding: 1rem;
      @include box(280px,40px,#fff,0);
      img{
        padding-right: 1rem;
        border-right: $border #e4e4e4; 
      }
      input{
        margin-left: 1rem;
        @include position(absolute,top,0);
      }
    }
    .password{
      @extend .name;
      img{
        padding-left: 0.2rem;
      }
    }
    .caution{
      @include font(1rem,red,3rem,700);
    }
    button{
      @include box(280px,40px,#29bde0,0);
      @include font(1.4rem,#fff,3rem,400);
    }
  }
}